#!/bin/bash
#
# common.config
# this is the common configuration file
# used by simple_backup.sh
#

# start with commands used in the script
ID=/usr/bin/id
ECHO=/bin/echo
MOUNT=/bin/mount
RM=/bin/rm
MV=/bin/mv
CP=/bin/cp
MKDIR=/bin/mkdir
TOUCH=/usr/bin/touch
RSYNC=/usr/bin/rsync

# exclude file to give rsync
EXCLUDES=backup_exclude
# root backup directory, where everything goes
BASETARGET=/backup/
# name for rolling backup directory
ROLLING=rolling
