#!/bin/bash
#
# endpoint.config
# this is an endpoint specific configuration file
# used by simple_backup.sh
#

# IDENTITY: your ssh username and hostname
# example: john@www.example.com or for local backups
# example: /home/john
IDENTITY=[username]@[hostname]
#
# SOURCES: the directories to backup up on the
# remote server or local file system.
# Note: be careful with slashes!!!!!!!1
SOURCES=(/etc/ \
        Documents/ \
        Pictures/ )
#
# BASETARGET: the root backup directory
# this is defined in common.config but
# you may override it here
#BASETARGET=/home/john/backup
