#!/bin/bash
#
# endpoint.config
# this is an endpoint specific configuration file
# used by simple_backup.sh
#
# IDENTITY: your ssh username and hostname
# example: john@www.example.com
IDENTITY=[username]@[hostname]
#
# SOURCES: the directories to backup up on the
# remote server
SOURCES=(/etc/ \
        Documents/ \
        Pictures/ )
